//
// colors
//

@blue: #3BC7DB;
@red: #D2162A;

//
// animation
//

@transition-timing: 300ms;

//
// structure
//

@z-top: 10;

//
// main
//

body {
  font-family: 'Times New Roman', serif;

  // default is dark theme
  &,
  &.black {
    background-color: black;
    color: white;
  }
  &.white {
    background-color: white;
    color: black;
  }
}
