//
// colors
//

@blue: #3BC7DB;
@red: #D2162A;

// TODO: update white e_m image to match this white
@white: #FAF9F4;
// @black: #2D2D2D;
@black: black;

//
// animation
//

@transition-timing: 300ms;

//
// structure
//

@z-top: 10;

//
// main
//

body {
  font-family: 'Times New Roman', serif;

  // default is dark theme
  &,
  &.dark-theme {
    background-color: @black;
    color: @white;
  }
  &.bright-theme {
    background-color: @white;
    color: @black;
  }
}
